<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout1}">
<div layout:fragment="content">
    <div class="panel-heading">
        View Page
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>Bno</label>
            <input class="form-control" name="bno" readonly="readonly" th:value="${board.bno}">
        </div>
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="title" readonly="readonly" th:value="${board.title}">
            <p class="help-block">Title text here.</p>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" rows="3" name="content" readonly="readonly"
                      th:text="${board.content}"></textarea>
        </div>
        <div class="form-group">
            <label>Writer</label>
            <input class="form-control" name="writer" readonly="readonly" th:value="${board.writer}">
        </div>
        <div class="form-group">
            <label>RegDate</label>
            <input class="form-control" name="regdate" readonly="readonly"
                   th:value="${#dates.format(board.regdate,'yyyy-MM-dd')}">
        </div>
        <div class="pull-right">
            <a th:href="@{modify(page=${pageDto.page},size=${pageDto.size},type=${pageDto.type},keyword=${pageDto.keyword},bno=${board.bno})}"
               class="btn btn-warning">Modify/Delete
            </a>
            <a th:href="@{list(page=${pageDto.page},size=${pageDto.size},type=${pageDto.type},keyword=${pageDto.keyword},bno=${board.bno})}"
               class="btn btn-info">List
            </a>
        </div>
    </div>
</div>
<div layout:fragment="reply">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw">&nbsp;Reply</i>
                    <button id="addReplyBtn" class="btn btn-primary btn-xs pull-right">New Reply</button>
                </div>
                <div class="panel-body">
                    <ul class="chat" style="margin:0;padding: 0">
                        <!--                        <li class="left clearfix" data-rno='1' style="list-style: none">-->
                        <!--                            <div style="margin: 0;padding: 0">-->
                        <!--                                <div class="header">-->
                        <!--                                    <strong class="primary-font" style="font-size: 13px">user00</strong>-->
                        <!--                                    <small class="pull-right text-muted">2020-09-21 12:12</small>-->
                        <!--                                </div>-->
                        <!--                                <p style="margin-top: 10px;font-size: 15px">새로운 댓글1</p>-->
                        <!--                                <hr style="background-color: #00b3ee; margin: 0">-->
                        <!--                            </div>-->
                        <!--                        </li>-->
                        <!--                        <br>-->
                    </ul>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>
    <div id="mymodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <label>Reply Text</label>
                    <input type="text" class="form-control" name="replyText">
                    <label>Replyer</label>
                    <input type="text" class="form-control" name="replyer">
                </div>
                <div class="modal-footer">
                    <button id="modalBtn" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="delModBtn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{'/js/reply.js'}"></script>
    <script th:inline="javascript">
        $(document).ready(function (e) {
            var page = 1;
            var obj = {bno: [[${board.bno}]], page: page || 1};
            var totalReplyCount;
            (function () {
                replyManger.getAll(obj, printList);
            })();

            function printList(list) {
                var content = list.result.content;
                var replyCnt = list.result.totalElements;
                totalReplyCount = replyCnt;
                console.log("page: " + page)
                console.log(replyCnt);
                var replyUL = $(".chat");
                if (content == null || content.length == 0) {
                    replyUL.html("");
                    return;
                }
                var str = "";
                for (var i = 0; i < content.length; i++) {
                    str += "<li style='list-style: none' data-rno='" + content[i].rno + "' data-replyer='" + content[i].replyer + "' data-replytext='" + content[i].replyText + "'>";
                    str += "<div style='margin: 0;padding: 0'><div class='header'><strong class='primary-font' style='font-size: 13px'>" + content[i].replyer + "</strong>";
                    str += "<small class='pull-right text-muted'>" + formatDate(content[i].regdate) + "</small></div>";
                    str += "<p style='margin-top: 10px; font-size: 15px'>" + content[i].replyText + "</p></div></li>";
                    str += "<hr style='border-top:1px solid #00b3ee; margin: 0;padding: 0'>";
                    str += "<br>"
                }
                replyUL.html(str);
                printReplyPage(replyCnt);

            }

            function printReplyPage(replyCnt) {
                var endNum = Math.ceil(page / 10.0) * 10;
                var startNum = endNum - 9;
                var replyPageFooter = $(".panel-footer");
                var prev = startNum != 1;
                var next = false;

                if (endNum * 10 >= replyCnt) {
                    endNum = Math.ceil(replyCnt / 10.0);
                }
                if (endNum * 10 < replyCnt) {
                    next = true;
                }
                var str = "<ul class='pagination pull-right'>";
                if (prev) {
                    str += "<li class='page-item'><a class='page-link' href='" + (startNum - 1) + "'>Previous</a></li>"
                }
                for (var i = startNum; i <= endNum; i++) {
                    var active = page == i ? "active" : "";
                    console.log("Page: " + page)
                    console.log(active)
                    console.log("i: " + i)
                    console.log("----------------------")
                    str += "<li class='page-item " + active + "'><a class='page-link' href='" + i + "'>" + i + "</a></li>";
                }
                if (next) {
                    str += "<li class='page-item'><a class='page-link' href='" + (endNum + 1) + "'>Next</a></li>"
                }
                str += "</ul></div>";
                replyPageFooter.html(str);

            }

            function formatDate(timeValue) {
                var date = new Date(timeValue);
                return date.getFullYear() + "-" + (date.getMonth() + 1 >= 10 ? date.getMonth() + 1 : '0' + (date.getMonth() + 1)) + "-" + date.getDate()
            }

            var mode;
            $("#addReplyBtn").on("click", function (e) {
                replyTextObj.val("");
                replyerObj.val("");
                $("#mymodal").modal("show");
                $(".modal-title").text("ADD Reply");
                mode = "ADD";
            });

            var bno = [[${board.bno}]]
            var replyTextObj = $("input[name='replyText']");
            var replyerObj = $("input[name='replyer']");
            var rno;

            function afterAll(list) {
                printList(list);
                $("#mymodal").modal("hide");
                replyTextObj.val("");
                replyerObj.val("");
            }

            $("#modalBtn").on("click", function (e) {
                var replyText = replyTextObj.val();
                var replyer = replyerObj.val();

                if (mode == "ADD") {
                    page = Math.ceil(totalReplyCount / 10.0);
                    var obj = {replyText: replyText, replyer: replyer, bno: bno, page: page};
                    replyManger.add(obj, function (list) {
                        alert("새로운 댓글이 추가되었습니다.");
                        afterAll(list);
                    });
                } else if (mode == "MOD") {
                    var obj = {replyText: replyText, bno: bno, rno: rno, page: page};
                    replyManger.update(obj, function (list) {
                        alert("댓글이 수정되었습니다.");
                        afterAll(list);
                    });
                }
            });

            $(".chat").on("click", "li", function (e) {
                rno = $(this).data("rno");
                var replyerData = $(this).data("replyer");
                var replyTextData = $(this).data("replytext");
                mode = "MOD";

                replyerObj.val(replyerData);
                replyTextObj.val(replyTextData);
                $("#mymodal").modal("show");
                $(".modal-title").text("Modify/Delete Reply");
            });

            $("#delModBtn").on("click", function (e) {
                var obj = {bno: bno, rno: rno, page: page};
                replyManger.remove(obj, function (list) {
                    alert("댓글이 삭제되었습니다.");
                    afterAll(list);
                })
            });

            $(".panel-footer").on("click", "li a", function (e) {
                e.preventDefault();
                var targetPageNum = $(this).attr("href");
                page = targetPageNum;
                var obj = {bno: bno, page: page};
                replyManger.getAll(obj, function (list) {
                    afterAll(list);
                })
            });
        });
    </script>
</th:block>