<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout1}">
<div layout:fragment="content">
    <div class="panel-heading">Join Page</div>
    <div class="panel-body">
        <form method="post">
            <div class="form-group">
                <label>UID</label>
                <input class="form-control" type="text" name="uid">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="upw">
            </div>
            <div class="form-group">
                <label>UNAME</label>
                <input class="form-control" type="text" name="uname">
            </div>
            <p>
                <input type="checkbox" name="roles[0].roleName" value="BASIC" checked>BASIC
                <input type="checkbox" name="roles[1].roleName" value="MANAGER">MANAGER
                <input type="checkbox" name="roles[2].roleName" value="ADMIN">ADMIN
            </p>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button type="submit" class="btn btn-primary pull-right">JOIN</button>
        </form>
    </div>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>